$columns: 12;
$breakpoints: (
  'xs': (min-width: 576px),
  'sm': (min-width: 576px),
  'md': (min-width: 768px),
  'lg': (min-width: 992px),
  'xl': (min-width: 1200px),
);
$max-width: 1160px;

$base-font-face: 'BrownPro', sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.4;
$base-color: #494E53;

$font-icon: 'icomoon';

$colors: (
  'white': #ffffff,
  'black': #000000,
  'abbey': #494E53,
  'silver-chalice': #A2A2A2,
  'pampas': #F4F2EF,
  'pumice': #CFD1D0,
  'dusty-gray': #999999,
  'vista-white': #FCFAF8,
  'shiraz': #BA101F,
  'silver': #CCCCCC
);
